[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
backtesting = "*"
yfinance = "*"
pandas = "*"
numpy = "*"
ta-lib = "*"
matplotlib = "*"
binance-sdk-spot = "*"
pyarrow = "*"

[dev-packages]

[requires]
python_version = "3.11"
